name: DevSecOps CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build (skip tests)
        run: mvn -DskipTests clean package

      - name: Build Docker image
        run: docker build -t hapi-fhir-jpaserver:ci .

      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
          wget -qO trivy.deb https://github.com/aquasecurity/trivy/releases/latest/download/trivy_0.69.1_Linux-64bit.deb
          sudo dpkg -i trivy.deb

      - name: Trivy scan (fail on HIGH/CRITICAL)
        run: |
          trivy image --scanners vuln --severity HIGH,CRITICAL --exit-code 1 hapi-fhir-jpaserver:ci